body {
	background: rgb(90, 90, 90);
	color: #fff;
	height: 100vh;
	margin: 0;
	line-height: 1.5; }
	body#bg-img {
	  background: url(./sheel/Coding.jpg);

}

.var-highlight{
	color: #C0AD60;
}
.string-highlight{
	color: rgba(253, 149, 90, 0.8);
}
